
<% if @team.errors.any?  %>
<div class="error_messages">
<%= @team.errors.full_messages.each do |m| %>
<%= m %>
<%end %>
</div>
<%end %>

<%= form_for @team do |f| %> 

<div class="field">
<%= f.label :name %><br>
<%= f.text_field :name %><br> 
</div>

<div class="field">
<%= f.label :description %>
<%= f.text_field :description %>
</div>

<div class="field">
<p>Select from the roles below: </p>
<%= f.collection_check_boxes :role_ids, Role.all, :id, :title %>
</div>

<p>Or add a new role:</p>
<%= f.fields_for :roles, @team.roles.build do |role| %>

<div class="field">
<%= role.label :title %>
<%= role.text_field :title %>
</div>

<div class="field">
<%= role.label :description %>
<%= role.text_field :description %>
</div>

<div class="field">
<%= role.label :arrival_time %>
<%= role.datetime_select :arrival_time %>
</div>

<div class="field">
<p>How many people are needed for this role?</p>
<%= role.number_field :min_users%>
</div>

<% end %>


<%= f.submit "Add Team" %> 
<%end %>