

<h1><%= @team.name %></h1><br>
<%= @team.description %><br>
<% @team.roles.each do |role| %>
<%= link_to role.title, role_path(role) %>
<%end%>
<% @team.users.each do |user| %>
<%= user.name %>
<%end%>

<%= button_to "Delete Team", team_path(@team), method: :delete %>