
<table>
<tr>
<th>Team Name</th>
<th>Team Description</th>
<th>Team Roles</th>
<th>Team Members</th>
<% if current_user.admin? %>
<th>Add Role to Team</th>
<th>Edit Team</th>
<th>Delete Team</th>
<% end %>
</tr>

<tr>
<td><%= @team.name %></td>
<td><%= @team.description %></td>
<td>
<% @team.roles.each do |role| %>
<ul>
<li><%= link_to role.title, team_role_path(@team, role) %></li>
</ul>
<%end%>
</td>
<td>
<% @team.users.each do |user| %>
<ul>
<li><%= link_to user.name, profile_path(user) %></li>
</ul>
<%end%>
</td>
<% if current_user.admin? %>
<td><%= link_to "Add Role", new_team_role_path(@team)%></td>
<td><%= link_to "Edit",  edit_team_path(@team) %></td>
<td><%= button_to "Delete Team", team_path(@team), method: :delete %></td>
<% end %>
</tr>
</table>