
<h1><%= @user.name %>'s Profile</h1>

<h2>Upcoming Roles:</h2> 
<table>
<tr>
<th>Date</th>
<th>Arrival Time</th>
<th>Role</th> 
<th>Confirmed?</th>
<th>Delete</th>
</tr> 


    <% @user.roles.each do |role| %>
    <tr>
    <td><%= role.arrival_time.strftime("%B %d, %Y") %></td>
    <td><%= role.arrival_time.strftime("%I:%M%p") %></td>
    <td><%= link_to role.title, user_role_path(@user, role) %></td>
    <td><%=  %></td>
    <td><%= button_to "Delete", user_unassignrole_path(@user, role) , method: :delete  %></td>
    </tr>
    <%end%>
</table> 

