<table>
<tr>
<th>Arrival Time</th>
<th>Title</th>
<th>Description</th>
<th>Team</th>
<th>Users</th>
<th>Edit</th>
<th>Delete</th>
<th>Assign Role</th>
</tr>

<tr>
<td><%= @role.arrival_time %></td>
<td><%= @role.title %></td>
<td><%= @role.description%><br></td>
<td><%= link_to @role.team.name, team_path(@role.team) %></td>
<td>
<% @role.users.each do |u| %>
<%= u.name %><br>
<%end %>
</td>
<td><%= link_to "Edit Role", edit_role_path(@role)%></td>
<td><%= button_to "Delete Role", role_path(@role), method: :delete %></td>
<td><%=  assign_role if @role.available?  %>
</tr>
</table>
