<!DOCTYPE html>
<html>
  <head>
    <title>EcclesiaConnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= navbar %>
      <div class="error_messages">
      <% flash.each do |key, value| %>
      <%= value %>
      <% end %>
      </div>
    </header>
    <div class="main">
    <%= yield %>
    </div>
    <footer>
      <img src="https://i.imgur.com/Pr9Pww2.png" height= 10% width= 10%>
    </footer>
  </body>
</html>
